

@media screen and (max-width: 320px)
{
	
	/*---------------------Start home_page------------*/
	header {
    width: 100%;
}
.logo {
    padding-bottom: 25px;
}
.log_regis {
    float: right;
    height: auto;
    padding: 4px 0 10px;
    text-align: center;
    width: 100%;
}
.vendor_log
{
	display:none;
}

.form-row.form-row-first {
    border-top: 1px solid #fff;
}
.col-lg-6.r_g {
    float: left;
    height: auto;
    padding: 0;
    width: 123px;
}
.btn.btn-primary.r_1 {
    padding: 10px 24px;
    width: auto;
}
.modal-dialog {
    margin: 30px auto;
    width: 85%;
}
.btn.btn-primary.r_4 {
    font-size: 12px;
}
.navbar-toggle {
    background-color: #313131;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 3px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
nav {
    float: left;
    height: auto;
    margin-left: -15px;
    width: 100%;
}
nav ul li {
    border-bottom: 1px solid #f7831a;
	border-right:none;
    color: #fff;
    display: block;
}
nav ul li:last-child
{
	 border-bottom:none;
}
form {
    float: none;
    height: auto;
    width: 100%;
}
.search_area {
    float: left;
    height: auto;
    width: 100%;
}
.btn.btn-block.s_2 {
    margin: 8px 1px 0 -70px;
}
.user_profile {
    color: #fff;
    float: left;
    height: auto;
    padding: 10px 0;
    text-align: left;
    width: 40%;
}
.user_log_area {
    left: -200px;
    opacity: 0;
    top: 100px;
    z-index: 1;
}
.col-lg-3.h_over_user:hover .user_log_area {
    left: 0px;
    opacity: 1;
    top: 100px;
    z-index: 22;
}
.cart_area {
    color: #fff;
    cursor: pointer;
    float: left;
    height: auto;
    padding: 10px 0 10px;
    width: 60%;
}
.cart_details {
    left: 10px;
    opacity: 0;
    top: -340px;
    transition: all 0.3s ease-in-out 0s;
}
.col-lg-1.cart_deal:hover .cart_details {
    left: 10px;
    opacity: 1;
    top: 100px;
    transition: all 0.3s ease-in-out 0s;
}
.carousel-indicators {
    bottom: -14px;
}
.after_banner {;
    margin-top: 30px;
}
.click_product_area {
    float: left;
    height: auto;
    padding: 30px 0;
    width: 100%;
}
.row.m_pro {
    margin-bottom: 30px;
}
.row.m_pro_1 {
    padding-bottom: 0px;
}
.subs_hover {
    float: left;
    height: auto;
    left: 45%;
    position: absolute;
    top: 10%;
    width: 50%;
}
.form-control.s_2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-family: "noto_sansregular";
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 33px;
    padding: 0;
    text-indent: 5px;
    width: 100%;
}
.line_2 {
    float: left;
    height: auto;
    width: 100%;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    text-indent: 5px !important;
    width: 100% !important;
	padding:0 !important;
	margin:0 0 0px 35px !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
	padding:0 !important;
	margin:7px 0 0 35px !important;
    width: 51% !important;
}
.product_box_area {
    float: left;
    height: auto;
    padding: 30px 0 0;
    width: 100%;
}
.row.full {
    padding-bottom: 30px;
}
.row.full:last-child {
    padding-bottom: 0px;
}
.full_box {
    margin-bottom: 30px;
}
.innovative_area {
    padding: 30px 0;
}
.innovative_heading > h3 {
    font-size: 20px;
    line-height: 26px;
}
.innovative_heading > h6 {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0 0;
}
footer {
    padding: 30px 0 15px;
}
.footer_link_1 {
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}
.footer_last {
    padding: 30px 0 15px;
}

/*---------------------End home_page------------*/

/*-----------------------After_selection_cart------------*/

.cart_details_1
{
	left: 313px;
    opacity: 0;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.col-lg-1.cart_deal:hover .cart_details_1 {

    left: 0px;
    opacity: 1;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.number_flow {
    right: -10px;
    top: 43px;
}
/*-----------------------After_selection_cart------------*/

/*---------------------------Start Shop Page--------------------*/

.form-control.l_2 {
    margin-bottom: 10px;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 5px !important;
    width: 100% !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    margin: 7px 0 0 !important;
    padding: 0 !important;
    width: 51% !important;
}
.item_heading {
    margin: 20px 0 0 !important;
}
/*---------------------------End Shop Page------------------*/

/*--------------------Checkout_page---------------*/
.radio, .checkbox {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.box .box-footer {
    padding: 20px 50px 20px 10px !important;
}
.box-footer .btn-primary {
    font-size: 12px;
}
.button.wc-forward {
    background-color: #8dbc4e;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 10px 0 30px 32px;
    padding: 9px;
    text-decoration: none;
    width: 155px;
}
.box input[type="text"] {
    width: 100%;
}
/*----------------------End Checkout Page--------------*/

/*-----------------------Start Contact Page-------------*/
.right_con {
    text-align: center;
}
.right_con > h3 {
    font-size: 20px;
    line-height: 26px;
}
.social {
    float: left;
    height: auto;
    width: 100%;
}
.social > ul {
    float: right;
    height: auto;
    margin: 34px 0 0;
    padding: 0;
    width: 100%;
}
.social > ul li {
    display:inline-block;
}
/*-----------------------End Contact Page-------------*/
}

@media screen and (min-width: 321px) and (max-width: 480px)
{
	
		/*---------------------Start home_page------------*/
	header {
    width: 100%;
}
.logo {
    padding-bottom: 25px;
}
.log_regis {
    float: right;
    height: auto;
    padding: 4px 0 10px;
    text-align: center;
    width: 100%;
}
.vendor_log
{
	display:none;
}

.form-row.form-row-first {
    border-top: 1px solid #fff;
}
.col-lg-6.r_g {
    float: left;
    height: auto;
    padding: 0;
    width: 123px;
}
.btn.btn-primary.r_1 {
    padding: 10px 24px;
    width: auto;
}
.modal-dialog {
    margin: 30px auto;
    width: 85%;
}
.btn.btn-primary.r_4 {
    font-size: 12px;
}
.navbar-toggle {
    background-color: #313131;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 3px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
nav {
    float: left;
    height: auto;
    margin-left: -15px;
    width: 100%;
}
nav ul li {
    border-bottom: 1px solid #f7831a;
	border-right:none;
    color: #fff;
    display: block;
}
nav ul li:last-child
{
	 border-bottom:none;
}
form {
    float: none;
    height: auto;
    width: 100%;
}
.search_area {
    float: left;
    height: auto;
    width: 100%;
}
.btn.btn-block.s_2 {
    margin: 8px 1px 0 -24%;
}
.user_profile {
    color: #fff;
    float: left;
    height: auto;
    padding: 10px 0;
    text-align: left;
    width: 40%;
}
.user_log_area {
    left: -200px;
    opacity: 0;
    top: 100px;
    z-index: 1;
}
.col-lg-3.h_over_user:hover .user_log_area {
    left: 0px;
    opacity: 1;
    top: 100px;
    z-index: 22;
}
.cart_area {
    color: #fff;
    cursor: pointer;
    float: left;
    height: auto;
    padding: 10px 0 10px;
    width: 60%;
}
.cart_details {
    left: 10px;
    opacity: 0;
    top: -340px;
    transition: all 0.3s ease-in-out 0s;
}
.col-lg-1.cart_deal:hover .cart_details {
    left: 10px;
    opacity: 1;
    top: 100px;
    transition: all 0.3s ease-in-out 0s;
}
.carousel-indicators {
    bottom: -14px;
}
.after_banner {;
    margin-top: 30px;
}
.click_product_area {
    float: left;
    height: auto;
    padding: 30px 0;
    width: 100%;
}
.row.m_pro {
    margin-bottom: 30px;
}
.row.m_pro_1 {
    padding-bottom: 0px;
}
.subs_hover {
    float: left;
    height: auto;
    left: 45%;
    position: absolute;
    top: 10%;
    width: 50%;
}
.form-control.s_2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-family: "noto_sansregular";
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 33px;
    padding: 0;
    text-indent: 5px;
    width: 100%;
}
.line_2 {
    float: left;
    height: auto;
    width: 100%;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    text-indent: 5px !important;
    width: 100% !important;
	padding:0 !important;
	margin:0 0 0px 35px !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
	padding:0 !important;
	margin:7px 0 0 35px !important;
    width: 51% !important;
}
.product_box_area {
    float: left;
    height: auto;
    padding: 30px 0 0;
    width: 100%;
}
.row.full {
    padding-bottom: 30px;
}
.row.full:last-child {
    padding-bottom: 0px;
}
.full_box {
    margin-bottom: 30px;
}
.innovative_area {
    padding: 30px 0;
}
.innovative_heading > h3 {
    font-size: 20px;
    line-height: 26px;
}
.innovative_heading > h6 {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0 0;
}
footer {
    padding: 30px 0 15px;
}
.footer_link_1 {
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}
.footer_last {
    padding: 30px 0 15px;
}

/*---------------------End home_page------------*/

/*-----------------------After_selection_cart------------*/

.cart_details_1
{
	left: 313px;
    opacity: 0;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.col-lg-1.cart_deal:hover .cart_details_1 {

    left: 0px;
    opacity: 1;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.number_flow {
    right: -10px;
    top: 43px;
}
/*-----------------------After_selection_cart------------*/

/*---------------------------Start Shop Page--------------------*/

.form-control.l_2 {
    margin-bottom: 10px;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 5px !important;
    width: 100% !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    margin: 7px 0 0 !important;
    padding: 0 !important;
    width: 51% !important;
}
.item_heading {
    margin: 20px 0 0 !important;
}
/*---------------------------End Shop Page------------------*/

/*-----------------------Start Contact Page-------------*/
.right_con {
    text-align: center;
}
.right_con > h3 {
    font-size: 20px;
    line-height: 26px;
}
.social {
    float: left;
    height: auto;
    width: 100%;
}
.social > ul {
    float: right;
    height: auto;
    margin: 34px 0 0;
    padding: 0;
    width: 100%;
}
.social > ul li {
    display:inline-block;
}
/*-----------------------End Contact Page-------------*/

/*--------------------Checkout_page---------------*/
.radio, .checkbox {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.box .box-footer {
    padding: 20px 50px 20px 10px !important;
}
.box-footer .btn-primary {
    font-size: 12px;
}
.button.wc-forward {
    background-color: #8dbc4e;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 10px 0 30px 32px;
    padding: 9px;
    text-decoration: none;
    width: 155px;
}
.box input[type="text"] {
    width: 100%;
}
/*----------------------End Checkout Page--------------*/
	
}




@media screen and (min-width: 481px) and (max-width: 767px)
{
	
	/*---------------------Start home_page------------*/
	header {
    width: 100%;
}
.logo {
    padding-bottom: 25px;
}
.log_regis {
    float: right;
    height: auto;
    padding: 4px 0 10px;
    text-align: center;
    width: 100%;
}
.vendor_log
{
	display:none;
}

.form-row.form-row-first {
    border-top: 1px solid #fff;
}
.col-lg-6.r_g {
    float: left;
    height: auto;
    padding: 0;
    width: 123px;
}
.btn.btn-primary.r_1 {
    padding: 10px 24px;
    width: auto;
}
.modal-dialog {
    margin: 30px auto;
    width: 85%;
}
.btn.btn-primary.r_4 {
    font-size: 12px;
}
.navbar-toggle {
    background-color: #313131;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 3px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
nav {
    float: left;
    height: auto;
    margin-left: -15px;
    width: 100%;
}
nav ul li {
    border-bottom: 1px solid #f7831a;
	border-right:none;
    color: #fff;
    display: block;
}
nav ul li:last-child
{
	 border-bottom:none;
}
form {
    float: none;
    height: auto;
    width: 100%;
}
.search_area {
    float: left;
    height: auto;
    width: 100%;
}
.btn.btn-block.s_2 {
    margin: 8px 1px 0 -24%;
}
.user_profile {
    color: #fff;
    float: left;
    height: auto;
    padding: 10px 0;
    text-align: left;
    width: 40%;
}
.user_log_area {
    left: -200px;
    opacity: 0;
    top: 100px;
    z-index: 1;
}
.col-lg-3.h_over_user:hover .user_log_area {
    left: 0px;
    opacity: 1;
    top: 100px;
    z-index: 22;
}
.cart_area {
    color: #fff;
    cursor: pointer;
    float: left;
    height: auto;
    padding: 10px 0 10px;
    width: 60%;
}
.cart_details {
    left: 10px;
    opacity: 0;
    top: -340px;
    transition: all 0.3s ease-in-out 0s;
}
.col-lg-1.cart_deal:hover .cart_details {
    left: 10px;
    opacity: 1;
    top: 100px;
    transition: all 0.3s ease-in-out 0s;
}
.carousel-indicators {
    bottom: -14px;
}
.after_banner {;
    margin-top: 30px;
}
.click_product_area {
    float: left;
    height: auto;
    padding: 30px 0;
    width: 100%;
}
.row.m_pro {
    margin-bottom: 30px;
}
.row.m_pro_1 {
    padding-bottom: 0px;
}
.subs_hover {
    float: left;
    height: auto;
    left: 45%;
    position: absolute;
    top: 25%;
    width: 50%;
}
.form-control.s_2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-family: "noto_sansregular";
    font-size: 14px;
    height: 30px;
    margin: 0 0 0 33px;
    padding: 0;
    text-indent: 5px;
    width: 100%;
}
.line_2 {
    float: left;
    height: auto;
    width: 100%;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    text-indent: 5px !important;
    width: 100% !important;
	padding:0 !important;
	margin:0 0 0px 35px !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
	padding:0 !important;
	margin:7px 0 0 35px !important;
    width: 51% !important;
}
.product_box_area {
    float: left;
    height: auto;
    padding: 30px 0 0;
    width: 100%;
}
.row.full {
    padding-bottom: 30px;
}
.row.full:last-child {
    padding-bottom: 0px;
}
.full_box {
    margin-bottom: 30px;
}
.innovative_area {
    padding: 30px 0;
}
.innovative_heading > h3 {
    font-size: 20px;
    line-height: 26px;
}
.innovative_heading > h6 {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0 0;
}
footer {
    padding: 30px 0 15px;
}
.footer_link_1 {
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}
.footer_last {
    padding: 30px 0 15px;
}

/*---------------------End home_page------------*/

/*-----------------------After_selection_cart------------*/

.cart_details_1
{
	left: 313px;
    opacity: 0;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.col-lg-1.cart_deal:hover .cart_details_1 {

    left: 0px;
    opacity: 1;
    position: absolute;
    top: 94px;
	overflow-x: hidden;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.number_flow {
    right: -10px;
    top: 43px;
}
/*-----------------------After_selection_cart------------*/


/*---------------------------Start Shop Page--------------------*/

.form-control.l_2 {
    margin-bottom: 10px;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 5px !important;
    width: 100% !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    margin: 7px 0 0 !important;
    padding: 0 !important;
    width: 51% !important;
}
.item_heading {
    margin: 20px 0 0 !important;
}
/*---------------------------End Shop Page------------------*/


/*-----------------------Start Contact Page-------------*/
.right_con {
    text-align: center;
}
.right_con > h3 {
    font-size: 20px;
    line-height: 26px;
}
.social {
    float: left;
    height: auto;
    width: 100%;
}
.social > ul {
    float: right;
    height: auto;
    margin: 34px 0 0;
    padding: 0;
    width: 100%;
}
.social > ul li {
    display:inline-block;
}
/*-----------------------End Contact Page-------------*/


/*--------------------Checkout_page---------------*/
.radio, .checkbox {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.box .box-footer {
    padding: 20px 50px 20px 10px !important;
}
.box-footer .btn-primary {
    font-size: 12px;
}
.button.wc-forward {
    background-color: #8dbc4e;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 10px 0 30px 32px;
    padding: 9px;
    text-decoration: none;
    width: 155px;
}
.box input[type="text"] {
    width: 100%;
}
/*----------------------End Checkout Page--------------*/
}




@media screen and (min-width: 768px) and (max-width: 991px)
{
	
	/*----------------------------------Start Home Page--------------------------*/
	.logo {
    float: left;
    height: auto;
    width: 45%;
}
.vendor_log {
    float: left;
    height: auto;
    padding: 17px 0 0;
    width: 55%;
	display:none;
}
.log_regis {
    float: right;
    height: auto;
    padding: 15px 0 20px;
    text-align: right;
    width: 37%;
}
.main_nav_area {
    float: left;
    height: auto;
    width: 70%;
}
nav ul li {
    padding: 6px 5px 0;
}
nav ul li {
    font-size: 12px;
    line-height: 18px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-12.p_less {
    float: right;
    height: auto;
    width: 30%;
}
.col-lg-8.col-md-8.col-sm-8.col-xs-12.p_less {
    float: right;
    height: auto;
    width: 100%;
}
.user_profile {
    color: #fff;
    float: left;
    height: auto;
    padding: 10px 0 15px;
    text-align: left;
    width: 45%;
}
.cart_area {
    color: #fff;
    cursor: pointer;
    float: left;
    height: auto;
    padding: 10px 0 15px;
    width: 46%;
}
.user_log_area {
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    color: #333;
    float: left;
    height: auto;
    left: 45px;
    opacity: 0;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    top: 100px;
    transition: all 0.7s ease-in-out 0s;
    width: 180px;
    z-index: -1;
	overflow-x:hidden;
}
.col-lg-3.h_over_user:hover .user_log_area {
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    color: #333;
    float: left;
    height: auto;
    left: -153px;
    opacity: 1;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    top: 100px;
    transition: all 0.7s ease-in-out 0s;
    width: 180px;
    z-index: 1;
	overflow-x:hidden;
}
.cart_details {
    float: left;
    height: auto;
    left: -64px;
    opacity: 0;
    position: absolute;
    top: -105px;
    transition: all 0.3s ease-in-out 0s;
    width: 280px;
    z-index: -1;
}
.col-lg-1.cart_deal:hover .cart_details {
    float: left;
    height: auto;
    left: -64px;
    opacity: 1;
    position: absolute;
    top: 100px;
    transition: all 0.3s ease-in-out 0s;
    width: 280px;
    z-index: 1;
}
.subs_hover {
    float: left;
    height: auto;
    left: 295px;
    position: absolute;
    top: 28px;
    width: 35%;
}
.form-control.s_2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-family: "noto_sansregular";
    font-size: 12px;
    height: 28px;
    margin: 15px 0 0 35px;
    padding: 0;
    text-indent: 5px;
    width: 100%;
}
.btn.btn-primary.s_3 {
    background-color: #6fcae1;
    border: 1px solid #015c73;
    border-radius: 0;
    float: left;
    font-family: "noto_sansregular";
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 19px;
    margin-left: 33px;
    margin-top: 5px;
    text-transform: uppercase;
    width: 45%;
}
.cart_details_1 {
    float: left;
    height: 0;
    left: 250px;
    opacity: 0;
	overflow-x:hidden;
    position: absolute;
    top: 100px;
    transition: all 0.6s ease-in-out 0s;
    width: 455px;
    z-index: 1;
}
.col-lg-1.cart_deal:hover .cart_details_1 {
    left: -240px;
    opacity: 1;
    position: absolute;
    top: 100px;
    transition: all 0.6s ease-in-out 0s;
    width: 455px;
	overflow-x:hidden;
    z-index: 1;
}
.number_flow {
    right: 7px;
    top: 45px;
}
/*---------------------------------End Home Page---------------------*/

/*---------------------------Start Shop Page--------------------*/

.form-control.l_2 {
    margin-bottom: 10px;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 5px !important;
    width: 100% !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    margin: 7px 0 0 !important;
    padding: 0 !important;
    width: 51% !important;
}
.item_heading {
    margin: 0px 0 0 !important;
}
.heading_box h6 {
    font-size: 8px;
    padding: 5px;
}
.full_box {
    margin-bottom: 0;
}
/*---------------------------End Shop Page------------------*/

/*-----------------------Start Contact Page-------------*/
.right_con {
    text-align: center;
}
.right_con > h3 {
    font-size: 20px;
    line-height: 26px;
}
.social {
    float: left;
    height: auto;
    width: 100%;
}
.social > ul {
    float: right;
    height: auto;
    margin: 34px 0 0;
    padding: 0;
    width: 100%;
}
.social > ul li {
    display:inline-block;
}
/*-----------------------End Contact Page-------------*/

/*--------------------Checkout_page---------------*/
.radio, .checkbox {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.box .box-footer {
    padding: 20px 50px 20px 10px !important;
}
.box-footer .btn-primary {
    font-size: 12px;
}
.button.wc-forward {
    background-color: #8dbc4e;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 10px 0 30px 32px;
    padding: 9px;
    text-decoration: none;
    width: 155px;
}
.box input[type="text"] {
    width: 100%;
}
/*----------------------End Checkout Page--------------*/
}




@media screen and (min-width: 992px) and (max-width: 1199px)
{
	
	/*-----------------------------------Start Home Page-------------------------*/
	.logo {
    float: left;
    height: auto;
    width: 45%;
}
.vendor_log {
    float: left;
    height: auto;
    padding: 17px 0 0;
    width: 55%;
	display:none;
}
.log_regis {
    float: right;
    height: auto;
    padding: 15px 0 20px;
    text-align: right;
    width: 37%;
}
.main_nav_area {
    float: left;
    height: auto;
    width: 70%;
}
nav ul li {
    padding: 6px 5px 0;
}
nav ul li {
    font-size: 12px;
    line-height: 18px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-12.p_less {
    float: right;
    height: auto;
    width: 30%;
}
.col-lg-8.col-md-8.col-sm-8.col-xs-12.p_less {
    float: right;
    height: auto;
    width: 100%;
}
.btn.btn-block.s_2 {
    margin: 8px 1px 0 -68px;
}
.user_profile {
    color: #fff;
    float: left;
    height: auto;
    padding: 10px 0 15px;
    text-align: left;
    width: 45%;
}
.cart_area {
    color: #fff;
    cursor: pointer;
    float: left;
    height: auto;
    padding: 10px 0 15px;
    width: 46%;
}
.user_log_area {
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    color: #333;
    float: left;
    height: auto;
    left: 45px;
    opacity: 0;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    top: 100px;
    transition: all 0.7s ease-in-out 0s;
    width: 180px;
    z-index: -1;
	overflow-x:hidden;
}
.col-lg-3.h_over_user:hover .user_log_area {
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    color: #333;
    float: left;
    height: auto;
    left: -153px;
    opacity: 1;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    top: 100px;
    transition: all 0.7s ease-in-out 0s;
    width: 180px;
    z-index: 1;
	overflow-x:hidden;
}
.cart_details {
    float: left;
    height: auto;
    left: -64px;
    opacity: 0;
    position: absolute;
    top: -105px;
    transition: all 0.3s ease-in-out 0s;
    width: 280px;
    z-index: -1;
}
.col-lg-1.cart_deal:hover .cart_details {
    float: left;
    height: auto;
    left: -64px;
    opacity: 1;
    position: absolute;
    top: 100px;
    transition: all 0.3s ease-in-out 0s;
    width: 280px;
    z-index: 1;
}
.subs_hover {
    float: left;
    height: auto;
    left: 400px;
    position: absolute;
    top: 42px;
    width: 35%;
}
.form-control.s_2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-family: "noto_sansregular";
    font-size: 12px;
    height: 28px;
    margin: 15px 0 0 35px;
    padding: 0;
    text-indent: 5px;
    width: 100%;
}
.btn.btn-primary.s_3 {
    background-color: #6fcae1;
    border: 1px solid #015c73;
    border-radius: 0;
    float: left;
    font-family: "noto_sansregular";
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 19px;
    margin-left: 33px;
    margin-top: 5px;
    text-transform: uppercase;
    width: 45%;
}
.cart_details_1 {
    float: left;
    height: 0;
    left: 250px;
    opacity: 0;
	overflow-x:hidden;
    position: absolute;
    top: 100px;
    transition: all 0.6s ease-in-out 0s;
    width: 455px;
    z-index: 1;
}
.col-lg-1.cart_deal:hover .cart_details_1 {
    left: -170px;
    opacity: 1;
    position: absolute;
    top: 100px;
    transition: all 0.6s ease-in-out 0s;
    width: 455px;
	overflow-x:hidden;
    z-index: 1;
}
.number_flow {
    right: 7px;
    top: 45px;
}
/*-------------------------------------End Home Page------------------------*/

/*---------------------------Start Shop Page--------------------*/

.form-control.l_2 {
    margin-bottom: 10px;
}
.form-control.s_2 {
    font-size: 12px !important;
    height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 5px !important;
    width: 100% !important;
}
.btn.btn-primary.s_3 {
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    margin: 7px 0 0 !important;
    padding: 0 !important;
    width: 51% !important;
}
.item_heading {
    margin: 0px 0 0 !important;
}
.heading_box h6 {
    font-size: 12px;
    padding: 3px;
}
.full_box {
    margin-bottom: 30px;
}
/*---------------------------End Shop Page------------------*/

/*-----------------------Start Contact Page-------------*/
.right_con {
    text-align: center;
}
.right_con > h3 {
    font-size: 20px;
    line-height: 26px;
}
.social {
    float: left;
    height: auto;
    width: 100%;
}
.social > ul {
    float: right;
    height: auto;
    margin: 34px 0 0;
    padding: 0;
    width: 100%;
}
.social > ul li {
    display:inline-block;
}
/*-----------------------End Contact Page-------------*/

/*--------------------Checkout_page---------------*/
.radio, .checkbox {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.box .box-footer {
    padding: 20px 50px 20px 10px !important;
}
.box-footer .btn-primary {
    font-size: 12px;
}
.button.wc-forward {
    background-color: #8dbc4e;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 10px 0 30px 32px;
    padding: 9px;
    text-decoration: none;
    width: 155px;
}
.box input[type="text"] {
    width: 100%;
}
/*----------------------End Checkout Page--------------*/
}


@media screen and (min-width: 1200px)
{

/*-------------------------------------Start Home ----------------------*/
	.btn.btn-block.s_2 {
    background-color: #313131;
    float: left;
    height: 30px;
    margin: 8px 1px 0 -62px;
    padding: 0;
    width: 23%;
}
.user_log_area {
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    color: #333;
    float: left;
    height: auto;
    left: -120px;
    opacity: 0;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    top: -380px;
    transition: all 0.7s ease-in-out 0s;
    width: 180px;
    z-index: 1;
}
.cart_details {
    float: left;
    height: auto;
    left: -247px;
    opacity: 0;
    position: absolute;
    top: -205px;
    transition: all 0.3s ease-in-out 0s;
    width: 280px;
    z-index: 1;
}
/*---------------------------End Home Page--------------------------*/
}





















